extends ../layout
block myCss
    link(type='text/css',href="/css/myCss/mask.css",rel="stylesheet")
    style(type='text/css').
        #wrapper {
            min-height: 700px;
        }

        .nav a {
            cursor: pointer
        }

        th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        td.width350{
            width: 15%;
            font-size: 12px;
            text-align: left;
            color: #999999;
        }

        img.smallImg {
            width: 76px;
            height: 76px;
        }

        img.autoImg {
            max-width: 100%;
            max-height: 100%;
        }

        a.lookBackImgBtn, a.lookImgtextBtn {
            margin-top: 5px;
        }

        button.goOnBtn {
            margin: 10px 0;
        }

        input.leftTra {
            float: left;
        }
        .modal-body{
            overflow: hidden;
        }

        td img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
        }

        .arrow-up {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #7a7676;
        }

        .arrow-down {
            margin-top: 2px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #7a7676;
        }
block title
    title 创程管理后台

block administratorName1
    a(href='#') 管理员

block administratorName2
    a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
        | #{userinfo.account}

block leftNav
    | !{leftNav}




block content
    div(data-ng-app="myApp",data-ng-controller="pageCtrl")
        .row
            .col-md-12
                section.panel
                    header.panel-heading.custom-tab.turquoise-tab
                        ul.topMoreNav.nav.nav-tabs
                            li
                                a(href='#') 查看所有财务&nbsp({{num}})
        //搜索框
        .row
            .col-lg-12(style="position: relative ;top:10px;")
                form
                    .form-group
                        .col-lg-3
                            select#shopid.form-control(name="shopid",required="")
                                option(value="#{shop._id}") #{shop.shopName}
                                each shop in shops
                                    option(value="#{shop._id}") #{shop.shopName}
                        .col-lg-3
                            .input-group.m-bot15
                                input#searchaccount.form-control(type='text',placeholder="商品名称",name="goodsName",autofocus='autofocus',ng-keypress="($event.which === 13)?searchgoods():0")
                                span.input-group-btn
                                    button.btn.btn-default(type='button',onclick='searchgoods()') 搜索
                                        i.fa.fa-search
                        .col-lg-5
                            .input-group.m-bot15(style="float:right")
                                input#searchondate.mydate.form-control(type="text",name='ondate',placeholder="请输入日期开始时间",onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true})",style="margin-right:20px;width:auto")

                                input#searchdate.mydate.form-control(type="text",name='date',placeholder="请输入日期结束时间",onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true})",style="margin-right:20px;width:auto")
                                button.btn.btn-success(type="button",onclick='download()') 搜索
                                    i.fa.fa-search
        .row
            .panel-body
                .tab-content
                    #onShelvesGoods.tab-pane.active
                        section.panel
                            .panel-body
                                section#unseen
                                    table.table.table-bordered.table-striped.table-condensed
                                        thead
                                            tr
                                                th 金额
                                                th 订单号
                                                th 充值方式
                                                th 商品名
                                                th 时间
                                        tbody
                                            tr(data-ng-repeat="x in items")
                                                td {{x.money}}
                                                td {{x.orderNo}}
                                                td {{x.paytype}}
                                                td {{x.goodsName}}
                                                td {{x.time}}
                                    div
                                        ul.pagination.pagination-sm
                                            li
                                                a(data-ng-click='first()') 首页
                                            li(data-ng-repeat="page in pagelist" data-ng-class='{active:isactivepage(page)}')
                                                a(data-ng-click='selectpage(page)') {{page}}
                                            li
                                                a(data-ng-click='last()') 尾页




block myScript
    script(src='/js/datePicker/WdatePicker.js')
    script(src='/js/angular-1.5.8/angular.min.js')
    script(src='/js/myJs/page.js')
    script(type='text/javascript').
        var pagesize = !{JSON.stringify(pagesize)};
        var counturl = !{JSON.stringify(counturl)};
        var dataurl = !{JSON.stringify(dataurl)};
        page(counturl, dataurl, pagesize);
        function download() {
            //var stopdate = Date.parse(new Date(stoptime)) - 24*60*60*1000;
            var startdate = $('#searchondate').val();
            var enddate = $('#searchdate').val()
            var shopid = $("#shopid").val()
            if ((startdate == '') || (enddate == '')) {
                $.scojs_message('请选择时间');
            } else {
                if (enddate < startdate) {
                    $.scojs_message('输出时间有误');
                    window.location.href = '/cgoodsadmin/cgoodsfinance'
                } else {
                    var startdate = $('#searchondate').val();
                    var enddate = $('#searchdate').val()
                    var goodsName = $('#searchaccount').val()
                    var obj = {
                        starttime: startdate,
                        enddate: enddate,
                        goodsname: goodsName,
                        coffeeShopId: shopid
                    }
                    window.location.href = '/cgoodsadmin/datesearch/' + JSON.stringify(obj);
                }

            }
        }
        function searchgoods() {
            if(goodsName==''){
                $.scojs_message('请输入商品名');
            }else {
                var goodsName = $('#searchaccount').val()
                var shopid = $("#shopid").val()
                var startdate = $('#searchondate').val();
                var enddate = $('#searchdate').val()
                if(enddate<startdate){
                    $.scojs_message('输出时间有误');
                }
                var obj = {
                    starttime: startdate,
                    enddate: enddate,
                    goodsname: goodsName,
                    coffeeShopId: shopid
                }
            }
            window.location.href = '/cgoodsadmin/goodsnamesearch/' + JSON.stringify(obj);
        }
        $("#shopid").change(function(){
            var shopid = $("#shopid").val()
            var obj = {
                coffeeShopId:shopid
            }
            window.location.href = '/cgoodsadmin/searchbyshop/' + JSON.stringify(obj);
        })