extends ../layout
block myCss
    link(type='text/css',href="/css/myCss/mask.css",rel="stylesheet")
    style(type='text/css').
        #wrapper {
            min-height: 700px;
        }

        .nav a {
            cursor: pointer
        }

        th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        td.width350{
            width: 15%;
            font-size: 12px;
            text-align: left;
            color: #999999;
        }

        img.smallImg {
            width: 76px;
            height: 76px;
        }

        img.autoImg {
            max-width: 100%;
            max-height: 100%;
        }

        a.lookBackImgBtn, a.lookImgtextBtn {
            margin-top: 5px;
        }

        button.goOnBtn {
            margin: 10px 0;
        }

        input.leftTra {
            float: left;
        }
        .modal-body{
            overflow: hidden;
        }

        td img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
        }




block title
    title 创程管理后台

block administratorName1
    a(href='#') 管理员

block administratorName2
    a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
        | #{userinfo.account}

block leftNav
    | !{leftNav}

block content
    .row(ng-app="goodsAdd" ng-controller="goodsAddCtrl")
        .col-lg-12
            section.panel
                header.panel-heading
                    | 编辑商品
                .panel-body
                    .form
                        form#commentForm.cmxform.form-horizontal.adminex-form(method='post',  action='/cgoodsadmin/update')
                            .form-group
                                label.control-label.col-lg-2(for='goodsName') 商品名称
                                .col-lg-10
                                    input#goodsName.form-control(name='goodsName',  type='text', value='#{data.goodsName}',required='')
                            .form-group
                                label.control-label.col-lg-2(for='price1') 有期权价格
                                .col-lg-10
                                    input#price1.form-control(name='price1',  type='text', value='#{data.price1}', required='')
                            .form-group
                                label.control-label.col-lg-2(for='price2') 无期权价格
                                .col-lg-10
                                    input#price2.form-control(name='price2',  type='text', value='#{data.price2}', required='')
                            .form-group
                                label.control-label.col-lg-2(for='price3') 普通价格
                                .col-lg-10
                                    input#price3.form-control(name='price3',  type='text', value='#{data.price3}', required='')
                            .form-group
                                label.control-label.col-lg-2(for='useInfo') 消费码使用说明
                                .col-lg-10
                                    input#useInfo.form-control(name='useInfo',  type='text', value='#{data.useInfo}',required='')
                            .form-group
                                label.control-label.col-lg-2(for='goodsClassId') 商品类型
                                .col-lg-6
                                    select#goodsClassId.form-control(name="goodsClassId",required="")
                                        option(value='#{data.typeId}') #{typeName}
                                        each ctype in bb
                                            option(value='#{ctype._id}') #{ctype.name}
                            .form-group.form-group
                                label.control-label.col-lg-2(for='goodsDescribe') 描述
                                .col-lg-10
                                    input#goodsDescribe.form-control(name='goodsDescribe',  type='text', value='#{data.goodsDescribe}', required='')
                            .form-group
                                label.control-label.col-lg-2 图片
                                .col-lg-10
                                    .fileupload.fileupload-new(data-provides='fileupload')
                                        .fileupload-new.thumbnail(style='width: 180px; height: 183px; position:relative;')
                                            img#showPictureImg(src="#{data.goodsPic}", alt='')
                                            #progressbar1(style="height:3px;background:green;width:0%;position:absolute; bottom:0;left:0;")

                                        .fileupload-preview.fileupload-exists.thumbnail(style='width: 180px; height: 180px; line-height: 0px;')
                                        div
                                            span.btn.btn-default.btn-file
                                                span.fileupload-new
                                                    i.fa.fa-paper-clip
                                                    |  选择图片
                                                span.fileupload-exists
                                                    i.fa.fa-undo
                                                    |  重选
                                                input#showPictureInput.default(type='file',value="")
                                            | &nbsp;&nbsp;
                                            a.btn.btn-danger.fileupload-exists(href='#', data-dismiss='fileupload')
                                                i.fa.fa-trash
                                                |  确定
                                    input#bannerImgsHidden.default(type='hidden',value="#{data.goodsPic}",name="goodsPic")
                            .form-group
                                label.control-label.col-lg-2 轮播图
                                .col-md-10
                                    .fileupload.fileupload-new
                                        .fileupload-new.thumbnail(data-ng-repeat="img in bannerImgs",style='width: 188px; height: 175px; position:relative;')
                                            span(data-ng-click="removeBannerImg($index)" style="z-index:999999;height:32px;line-height:32px; width:100%;cursor:pointer; text-align:center; font-size:14px;color:#fff;filter:alpha(opacity=0.5);-moz-opacity:0.5;opacity:0.5;position:absolute; bottom:0px;left:0;background:#000;diplay:block;")
                                                | 删除
                                            img.bannerImg(src='{{img}}', alt='')


                                        .fileupload-new.thumbnail(data-ng-show="bannerImgs.length < 4",style='width: 188px; height: 175px; position:relative;')
                                            input#bannerImgInput.default(type='file',value="",style="position:absolute; width:100%; height:100%;z-index:999;background:#ccc;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;cursor:pointer;")
                                            img.bannerImg(src='/images/goods_pic_add.png', alt='')
                                            #progressbar2(style="height:3px;background:green;width:0%;position:absolute; bottom:0;left:0;")


                                    input#ImgsHidden.default(type='hidden',value="",name="goodsImgs",ng-update-hidden='', required='')
                                    p.manual 图片大小须为750*750像素，最多可上传4张。
                            .form-group
                                .col-lg-offset-2.col-lg-10
                                    input#adid1.default(type='hidden',value="#{data._id}",name="cgoodsid")
                                    button.btn.btn-primary(type='subtype',data-ng-click="submitform()") 提交
block myScript
    script(type='text/javascript', src='/js/jquery.validate.min.js')
    //script(src='/js/validation-init.js')
    //script(src='/js/jquery.validate.messages_zh.js')
    //script(type='text/javascript', src='/js/wangEditor/dist/js/wangEditor.min.js')
    script(src='/js/jquery.validate.kuku.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.iframe-transport.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.fileupload.js')
    script(src='/js/angular-1.5.8/angular.min.js')
    script(type='text/javascript').
        var app = angular.module('goodsAdd', []);
        app.controller('goodsAddCtrl', function ($scope, $http) {
            var imgs = !{JSON.stringify(data.goodsImgs)}
            $scope.bannerImgs = imgs


            //移除banner图片
            $scope.removeBannerImg = function (index) {
                imgs.splice(index, 1);
            };
            //提交表单
            $scope.submitform = function () {
                if (imgs.length > 0) {
                    $('#ImgsHidden').val(JSON.stringify(imgs))
                    $('#commentForm').submit();
                } else {
                    $.scojs_message('请上传轮播图');
                }
            }
            //上传商品图片
            $('#bannerImgInput').fileupload({
                dataType: 'json',
                url: '/1.0/pic/uploadimages',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 2 * 1024 * 1024,

                previewMaxWidth: 180,
                previewMaxHeight: 180,
                previewCrop: true,
                done: function (e, data) {
                    var ret = data.result;
                    switch (ret.error) {
                        case '0':
                            $('#progressbar2').css(
                                    'width', '100%'
                            );
                            setTimeout(function () {
                                $('#progressbar2').css(
                                        'width', '0%'
                                );
                            }, 1000);
                            imgs.push(ret.data);
                            $scope.$apply(function () {
                                $scope.bannerImgs = imgs;
                            });
                            break;
                        case '6':
                            $.scojs_message('图片大小不能超过2M', $.scojs_message.TYPE_ERROR);
                            break;
                        case '7':
                            $.scojs_message('只允许上传jpg,png,gif格式的图片', $.scojs_message.TYPE_ERROR);
                            break;
                    }
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 80, 10);
                    $('#progressbar2').css(
                            'width',
                            progress + '%'
                    );
                },
                fail: function (e, data) {
                    alert("上传出错了");
                }
            });

        })
        function checkColor() {
            $('cor').click
        }
        $('#showPictureInput').fileupload({
            dataType: 'json',
            url: '/1.0/pic/uploadimages',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 2 * 1024 * 1024,
            previewMaxWidth: 180,
            previewMaxHeight: 180,
            previewCrop: true,
            done: function (e, data) {
                var ret = data.result;
                switch (ret.error) {
                    case '0':
                        $('#progressbar1').css(
                                'width', '100%'
                        );
                        $("#bannerImgsHidden").val(ret.data);
                        $("#showPictureImg").attr('src', ret.data)
                        break;
                    case '6':
                        $.scojs_message('图片大小不能超过2M', $.scojs_message.TYPE_ERROR);
                        break;
                    case '7':
                        $.scojs_message('只允许上传jpg,png,gif格式的图片', $.scojs_message.TYPE_ERROR);
                        break;
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 80, 10);
                $('#progressbar1').css(
                        'width',
                        progress + '%'
                );
            },
            fail: function (e, data) {
                alert("上传出错了");
            }
        })
        $('#showPictureInput2').fileupload({
            dataType: 'json',
            url: '/1.0/pic/uploadimages',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 2 * 1024 * 1024,
            previewMaxWidth: 180,
            previewMaxHeight: 180,
            previewCrop: true,
            done: function (e, data) {
                var ret = data.result;
                switch (ret.error) {
                    case '0':
                        $('#progressbar2').css(
                                'width', '100%'
                        );
                        $("#bannerImgsHidden2").val(ret.data);
                        $("#showPictureImg2").attr('src', ret.data)
                        break;
                    case '6':
                        $.scojs_message('图片大小不能超过2M', $.scojs_message.TYPE_ERROR);
                        break;
                    case '7':
                        $.scojs_message('只允许上传jpg,png,gif格式的图片', $.scojs_message.TYPE_ERROR);
                        break;
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 80, 10);
                $('#progressbar2').css(
                        'width',
                        progress + '%'
                );
            },
            fail: function (e, data) {
                alert("上传出错了");
            }
        })
        function submitform() {
            $('#commentForm').submit();
        }









