extends ../layout
block myCss
    link(type='text/css',href="/css/myCss/mask.css",rel="stylesheet")
    style(type='text/css').
        #wrapper {
            min-height: 700px;
        }

        .nav a {
            cursor: pointer
        }

        th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        td.width350{
            width: 15%;
            font-size: 12px;
            text-align: left;
            color: #999999;
        }

        img.smallImg {
            width: 76px;
            height: 76px;
        }

        img.autoImg {
            max-width: 100%;
            max-height: 100%;
        }

        a.lookBackImgBtn, a.lookImgtextBtn {
            margin-top: 5px;
        }

        button.goOnBtn {
            margin: 10px 0;
        }

        input.leftTra {
            float: left;
        }
        .modal-body{
            overflow: hidden;
        }

        td img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
        }




block title
    title 创程管理后台

block administratorName1
    a(href='#') 管理员

block administratorName2
    a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
        | #{userinfo.account}

block leftNav
    | !{leftNav}

block content
    .row(ng-app="goodsAdd" ng-controller="goodsAddCtrl")
        .col-lg-12
            section.panel
                header.panel-heading
                    | 添加服务分类
                .panel-body
                    .form
                        form#commentForm.cmxform.form-horizontal.adminex-form(method='post',  action='/serviceadmin/updateclass')
                            .form-group
                                label.control-label.col-lg-2(for='goodsName') 分类名
                                .col-lg-10
                                    input#goodsName.form-control(name='name',  type='text', value='#{data.name}',required='',autofocus='autofocus')
                            .form-group
                                label.control-label.col-lg-2 分类图标
                                .col-lg-10
                                    .fileupload.fileupload-new(data-provides='fileupload')
                                        .fileupload-new.thumbnail(style='width: 80px; height: 83px; position:relative;')
                                            img#showPictureImg(src="#{data.pic}", alt='')
                                            #progressbar1(style="height:3px;background:green;width:0%;position:absolute; bottom:0;left:0;")

                                        .fileupload-preview.fileupload-exists.thumbnail(style='width: 80px; height: 80px; line-height: 0px;')
                                        div
                                            span.btn.btn-default.btn-file
                                                span.fileupload-new
                                                    i.fa.fa-paper-clip
                                                    |  选择图片
                                                span.fileupload-exists
                                                    i.fa.fa-undo
                                                    |  重选
                                                input#showPictureInput.default(type='file',value="")
                                            | &nbsp;&nbsp;
                                            a.btn.btn-danger.fileupload-exists(href='#', data-dismiss='fileupload')
                                                i.fa.fa-trash
                                                |  确定
                                    input#bannerImgsHidden.default(type='hidden',value="#{data.pic}",name="pic")
                            .form-group
                                .col-lg-offset-2.col-lg-10
                                    input#serviceid.default(type='hidden',value="#{data._id}",name="serviceid")
                                    button.btn.btn-primary(type='button',data-ng-click="submitform()") 提交
block myScript
    script(type='text/javascript', src='/js/jquery.validate.min.js')
    //script(src='/js/validation-init.js')
    //script(src='/js/jquery.validate.messages_zh.js')
    script(type='text/javascript', src='/js/wangEditor-2.1.19/dist/js/wangEditor.min.js')
    script(src='/js/jquery.validate.kuku.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.iframe-transport.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.fileupload.js')
    script(src='/js/angular-1.5.8/angular.min.js')
    script(src='/js/formValidatorRegex.js')
    script(type='text/javascript').
        //var interspaces = !{JSON.stringify(interspaces)}
        var app = angular.module('goodsAdd', []);
        app.controller('goodsAddCtrl', function ($scope, $http) {
            var imgs = []
            $scope.bannerImgs = imgs


            //移除banner图片
            $scope.removeBannerImg = function (index) {
                imgs.splice(index, 1);
            };
            //提交表单
            $scope.submitform = function(){
                $('#commentForm').submit();
            }
            $('#showPictureInput').fileupload({
                dataType: 'json',
                url: '/1.0/pic/uploadimages',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 2 * 1024 * 1024,
                previewMaxWidth: 180,
                previewMaxHeight: 180,
                previewCrop: true,
                done: function (e, data) {
                    var ret = data.result;
                    switch (ret.error) {
                        case '0':
                            $('#progressbar1').css(
                                'width', '100%'
                            );
                            $("#bannerImgsHidden").val(ret.data);
                            $("#showPictureImg").attr('src', ret.data)
                            break;
                        case '6':
                            $.scojs_message('图片大小不能超过2M', $.scojs_message.TYPE_ERROR);
                            break;
                        case '7':
                            $.scojs_message('只允许上传jpg,png,gif格式的图片', $.scojs_message.TYPE_ERROR);
                            break;
                    }
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 80, 10);
                    $('#progressbar1').css(
                        'width',
                        progress + '%'
                    );
                },
                fail: function (e, data) {
                    alert("上传出错了");
                }
            });

        })





