extends ../layout
block myCss
    link(type='text/css',href="/css/myCss/mask.css",rel="stylesheet")
    style(type='text/css').
        #wrapper {
            min-height: 700px;
        }

        .nav a {
            cursor: pointer
        }

        th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        td.width350{
            width: 15%;
            font-size: 12px;
            text-align: left;
            color: #999999;
        }

        img.smallImg {
            width: 76px;
            height: 76px;
        }

        img.autoImg {
            max-width: 100%;
            max-height: 100%;
        }

        a.lookBackImgBtn, a.lookImgtextBtn {
            margin-top: 5px;
        }

        button.goOnBtn {
            margin: 10px 0;
        }

        input.leftTra {
            float: left;
        }
        .modal-body{
            overflow: hidden;
        }

        td img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
        }

        .arrow-up {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #7a7676;
        }

        .arrow-down {
            margin-top: 2px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #7a7676;
        }
block title
    title 创程管理后台

block administratorName1
    a(href='#') 管理员

block administratorName2
    a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
        | #{userinfo.account}

block leftNav
    | !{leftNav}




block content
    div(data-ng-app="myApp",data-ng-controller="pageCtrl")
        .row
            .col-md-12
                section.panel
                    header.panel-heading.custom-tab.turquoise-tab
                        ul.topMoreNav.nav.nav-tabs
                            li
                                a(href='#') 查看所有分类
        .row
            .panel-body
                .tab-content
                    #onShelvesGoods.tab-pane.active
                        section.panel
                            .panel-body
                                section#unseen
                                    table.table.table-bordered.table-striped.table-condensed
                                        thead
                                            tr
                                                th 服务分类
                                                th 服务图标
                                                th 公司列表
                                                th 编辑
                                                th 删除
                                        tbody
                                            each x in data
                                                tr
                                                    td #{x.name}
                                                    td
                                                       img(src='#{x.pic}')
                                                    td
                                                        a(href = "/serviceadmin/businesslist/#{x._id}",class="btn btn-info btn-xs lookImgtextBtn") 公司列表
                                                    td
                                                        a(href = "/serviceadmin/editserviceclass/#{x._id}",class="btn btn-success btn-xs lookImgtextBtn") 编辑
                                                    td
                                                        a(href="#myModal#{x._id}",data-toggle="modal",class="btn btn-warning btn-xs",onclick='sms()') 删除
                                                        .modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1',id="myModal#{x._id}")
                                                            .modal-dialog
                                                                .modal-content
                                                                    .form
                                                                        form#commentForm.cmxform.form-horizontal.adminex-form(method='post',  action='/serviceadmin/deleteservice')
                                                                            .modal-header
                                                                                button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
                                                                                h4.modal-title 确认删除？
                                                                            .modal-body
                                                                                //弹出框内容部分
                                                                                .rejectContent
                                                                                    input#useraccount.form-control(name='serviceid',  type='hidden', value='#{x._id}')
                                                                            .modal-footer
                                                                                button.btn.btn-default(type='button', data-dismiss='modal') 取消
                                                                                button#confirm.btn.btn-warning(type='submit' class="okReject")  确定



block myScript
    script(src='/js/angular-1.5.8/angular.min.js')
    script(src='/js/myJs/page.js')
    script(type='text/javascript').



