extends ../layout
block myCss
    link(type='text/css',href="/css/myCss/mask.css",rel="stylesheet")
    style(type='text/css').
        #wrapper {
            min-height: 700px;
        }

        .nav a {
            cursor: pointer
        }

        th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        td.width350{
            width: 15%;
            font-size: 12px;
            text-align: left;
            color: #999999;
        }

        img.smallImg {
            width: 76px;
            height: 76px;
        }

        img.autoImg {
            max-width: 100%;
            max-height: 100%;
        }

        a.lookBackImgBtn, a.lookImgtextBtn {
            margin-top: 5px;
        }

        button.goOnBtn {
            margin: 10px 0;
        }

        input.leftTra {
            float: left;
        }
        .modal-body{
            overflow: hidden;
        }

        td img {
            width: 76px;
            height: 76px;
            border-radius: 50%;
        }
        .col-lg-10>textarea.form-control{
            height: 100px;
            resize: none;
        }




block title
    title 创程管理后台

block administratorName1
    a(href='#') 管理员

block administratorName2
    a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
        | #{userinfo.account}

block leftNav
    | !{leftNav}

block content
    .row(ng-app="teacherUpdate" ng-controller="teacherUpdateCtrl")
        .col-lg-12
            section.panel
                header.panel-heading
                    | 导师修改
                .panel-body
                    .form
                        form#commentForm.cmxform.form-horizontal.adminex-form(method='post',  action='/teacher/update')
                            .form-group
                                label.control-label.col-lg-2(for='tName') 导师姓名
                                .col-lg-10
                                    input#tName.form-control(name='tName',  type='text', value='#{data.tName}',required='')
                            .form-group
                                label.control-label.col-lg-2(for='tplaceId') 是否推荐
                                .col-lg-6
                                    select#tplaceId.form-control(name="tplaceId",required="")
                                        option(value='#{data.tplaceId}') #{tPlace}
                                        each  tp in tplace
                                            option(value='#{tp.code}') #{tp.name}
                            .form-group
                                label.control-label.col-lg-2(for='title') 职称
                                .col-lg-6
                                    select#title.form-control(name="title",required="")
                                        option(value='#{data.title}') #{titleName}
                                        each title in titles
                                            option(value='#{title.code}') #{title.name}
                            .form-group
                                label.control-label.col-lg-2(for='courseType') 教学方向
                                .col-lg-10
                                    input#courseType.form-control(name='courseType',  type='text', value='#{data.courseType}', required='')
                            .form-group
                                label.control-label.col-lg-2(for='teacherInfo') 简介
                                .col-lg-10
                                    textarea#teacherInfo.form-control(name='teacherInfo',  type='text', required='') #{data.teacherInfo}
                            .form-group
                                label.control-label.col-lg-2(for='teacherDetail') 详细信息
                                .col-lg-10
                                    textarea#teacherDetail.form-control(name='teacherDetail',  type='text', required='') #{data.teacherDetail}
                            .form-group
                                label.control-label.col-lg-2(for='track') 所属赛道
                                .col-lg-6
                                    select#track.form-control(name="track",required="")
                                        option(value='#{data.track}') #{trackName}
                                        each track in tracks
                                            option(value='#{track._id}') #{track.name}
                            .form-group
                                label.control-label.col-lg-2 导师图片
                                .col-lg-10
                                    .fileupload.fileupload-new(data-provides='fileupload')
                                        .fileupload-new.thumbnail(style='width: 180px; height: 183px; position:relative;')
                                            img#showPictureImg(src="#{data.headimgUrl}", alt='')
                                            #progressbar1(style="height:3px;background:green;width:0%;position:absolute; bottom:0;left:0;")

                                        .fileupload-preview.fileupload-exists.thumbnail(style='width: 180px; height: 180px; line-height: 0px;')
                                        div
                                            span.btn.btn-default.btn-file
                                                span.fileupload-new
                                                    i.fa.fa-paper-clip
                                                    |  选择图片
                                                span.fileupload-exists
                                                    i.fa.fa-undo
                                                    |  重选
                                                input#showPictureInput.default(type='file',value="")
                                            | &nbsp;&nbsp;
                                            a.btn.btn-danger.fileupload-exists(href='#', data-dismiss='fileupload')
                                                i.fa.fa-trash
                                                |  确定
                                    input#bannerImgsHidden.default(type='hidden',value="",name="headimgUrl")
                            .form-group
                                label.control-label.col-lg-2 背景图片
                                .col-lg-10
                                    .fileupload.fileupload-new(data-provides='fileupload')
                                        .fileupload-new.thumbnail(style='width: 180px; height: 183px; position:relative;')
                                            img#showPictureImg2(src="#{data.backImgUrl}", alt='')
                                            #progressbar2(style="height:3px;background:green;width:0%;position:absolute; bottom:0;left:0;")

                                        .fileupload-preview.fileupload-exists.thumbnail(style='width: 180px; height: 180px; line-height: 0px;')
                                        div
                                            span.btn.btn-default.btn-file
                                                span.fileupload-new
                                                    i.fa.fa-paper-clip
                                                    |  选择图片
                                                span.fileupload-exists
                                                    i.fa.fa-undo
                                                    |  重选
                                                input#showPictureInput2.default(type='file',value="")
                                            | &nbsp;&nbsp;
                                            a.btn.btn-danger.fileupload-exists(href='#', data-dismiss='fileupload')
                                                i.fa.fa-trash
                                                |  确定
                                    input#bannerImgsHidden2.default(type='hidden',value="",name="backImgUrl")
                            .form-group
                                .col-lg-offset-2.col-lg-10
                                    input#adid.default(type='hidden',value="#{data._id}",name="teacherid")
                                    button.btn.btn-primary(type='subtype',data-ng-click="submitform()") 更新
block myScript
    script(type='text/javascript', src='/js/jquery.validate.min.js')
    //script(src='/js/validation-init.js')
    //script(src='/js/jquery.validate.messages_zh.js')
    //script(type='text/javascript', src='/js/wangEditor/dist/js/wangEditor.min.js')
    script(src='/js/jquery.validate.kuku.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.iframe-transport.js')
    script(src='/js/jQuery-File-Upload-9.12.5/js/jquery.fileupload.js')
    script(src='/js/angular-1.5.8/angular.min.js')
    script(type='text/javascript').
        function checkColor() {
            $('cor').click
        }
        $('#showPictureInput').fileupload({
            dataType: 'json',
            url: '/1.0/pic/uploadimages',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 2 * 1024 * 1024,
            previewMaxWidth: 180,
            previewMaxHeight: 180,
            previewCrop: true,
            done: function (e, data) {
                var ret = data.result;
                switch (ret.error) {
                    case '0':
                        $('#progressbar1').css(
                                'width', '100%'
                        );
                        $("#bannerImgsHidden").val(ret.data);
                        $("#showPictureImg").attr('src', ret.data)
                        break;
                    case '6':
                        $.scojs_message('图片大小不能超过2M', $.scojs_message.TYPE_ERROR);
                        break;
                    case '7':
                        $.scojs_message('只允许上传jpg,png,gif格式的图片', $.scojs_message.TYPE_ERROR);
                        break;
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 80, 10);
                $('#progressbar1').css(
                        'width',
                        progress + '%'
                );
            },
            fail: function (e, data) {
                alert("上传出错了");
            }
        })
        $('#showPictureInput2').fileupload({
            dataType: 'json',
            url: '/1.0/pic/uploadimages',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 2 * 1024 * 1024,
            previewMaxWidth: 180,
            previewMaxHeight: 180,
            previewCrop: true,
            done: function (e, data) {
                var ret = data.result;
                switch (ret.error) {
                    case '0':
                        $('#progressbar2').css(
                                'width', '100%'
                        );
                        $("#bannerImgsHidden2").val(ret.data);
                        $("#showPictureImg2").attr('src', ret.data)
                        break;
                    case '6':
                        $.scojs_message('图片大小不能超过2M', $.scojs_message.TYPE_ERROR);
                        break;
                    case '7':
                        $.scojs_message('只允许上传jpg,png,gif格式的图片', $.scojs_message.TYPE_ERROR);
                        break;
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 80, 10);
                $('#progressbar2').css(
                        'width',
                        progress + '%'
                );
            },
            fail: function (e, data) {
                alert("上传出错了");
            }
        })
        function submitform() {
            $('#commentForm').submit();
        }









